* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "poppins", sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  /* border: 2px solid red; */
}

.main-container {
  height: auto;
  width: 100%;
}

.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar button {
  padding: 16px 32px;
  border-radius: 32px;
  color: black;
  background-color: green;
  border: 1px solid black;
  font-size: 20px;
}

.container1 {
  margin-inline: 40px;
  margin-top: 40px;
  width: 100%;
  height: 800px;
  display: flex;
  border-radius: 40px;
  background-image: url(./1bg.png);
  background-size: cover;
  background-position: center;
}

.left-box {
  gap: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 80px;
  justify-content: center;
  align-items: center;
}

.left-box h1 {
  font-size: 80px;
  color: white;
}
.left-box p {
  font-size: 24px;
  color: white;
}

.right-box {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.para {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

.container3 {
  padding: 60px 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 42px;
}

.container5 {
  height: auto;
  width: 100%;
  display: flex;
}

.left {
  gap: 20px;
  padding: 80px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.left p {
  font-size: 4.5em;
}

.left p:nth-last-child(2) {
  font-size: 1.2em;
}

a:hover {
  color: green;
}
.container6 {
  background-color: rgb(17, 16, 16);
  height: auto;
  width: 100%;
  display: flex;
}

.left1 {
  width: 50%;
  margin-block: 40px;
  margin-inline: 80px;
}

.right1 {
  width: 50%;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 80px;
}

.right1 p {
  font-size: 4.5em;
}
.right1 p:nth-last-child(2) {
  font-size: 1.2em;
}
.right1 p em {
  color: rgb(17, 173, 106);
}

.container7 {
  height: auto;
  width: 100%;
  display: flex;
}

.left2 {
  gap: 20px;
  padding: 80px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.right2 {
  margin-block: 80px;
}
.left2 p {
  font-size: 4.5em;
}

.left2 p:nth-last-child(2) {
  font-size: 1.2em;
}
.container8 {
  height: auto;
  width: 100%;
  display: flex;
}
.left11 {
  padding: 40px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.left11 .png {
  position: absolute;
  width: 22%;
}
.right11 {
  width: 50%;
  color: black;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 80px;
}
.right11 p {
  font-size: 4.5em;
}
.right11 p:nth-last-child(2) {
  font-size: 1.2em;
}
.container9 {
  height: auto;
  width: 100%;
  display: flex;
}
.left21 {
  gap: 20px;
  padding: 80px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.left21 p {
  font-size: 4.5em;
}

.left21 p:nth-last-child(2) {
  font-size: 1.2em;
}
.right21 {
  width: 50%;
  margin-block: 40px;
  margin-inline: 40px;
}

.container10 {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: black;
  color: white;
  gap: 100px;
  padding: 100px 0;
}

.container10 div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}

.container10 div h5 {
  margin-bottom: 20px;
}

.container10 div button {
  padding: 16px 32px;
  border-radius: 32px;
  color: black;
  background-color: green;
  border: 1px solid black;
  font-size: 20px;
}
